body {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:rgb(15, 9, 107);
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #07214b;
    color: rgb(52, 177, 177);
    padding: 10px 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}


button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.right h1 {
    justify-content: space-between;

}


section{
    
    color:rgb(251, 251, 251);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: start;
    padding: 50px;
}

.info h2 {
    font-size: 36px;
    margin-bottom: 20px;
}



